input {
  width: 20px;
  height: 20px;
  text-align: center;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
}
.verification, .generate {
  width: 97px;
  height: 30px;
}